@charset "utf-8";

@font-face {
    font-family: 'beck';
    src: url(beckman-free.ttf);
}
body, html{
    padding: 0%;
    background-color: #001021;

}

#logo{
    background-color: #001021;
    padding: 0%;
    margin-top: fit-content;
    min-height: 175px;
    max-width: 100%;
    min-width: 100%;

    position: relative;
}


#butt{

    border: #071013;
    margin: 1%;
    padding: 10px;
}
#p{
    display: inline;

    position: absolute;
    
    font-family: 'beck';
    text-align: center;
    margin: auto;
    padding: 0%;
    color: #11B5E4;
    font-size: 100%;
    max-height: 150%; 
    min-height: 10%;

    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1{
    position: absolute;
    
    width: 200px;
    height: 200px;
    font-family: 'beck';
    text-align: center;
    margin: 0%;
    padding: 10px;
    color: #11B5E4;
    font-size: 400%;

    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-p{
    color: black;
    text-align: center;
    margin: 0%;
    margin-bottom: 2vh;
}

#about1{
    text-align: center;
    font-size: 2rem;
    font-family: 'beck';
}

#about2{
    text-align: center;
    padding-top: -10%;
    padding: 5%;
    color: black;
    background-color: #1480ba00;
    margin: 0%;
}
#dab{
    background-color: #1480ba7c;
    
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
   
    
    padding: 5%;

    
    background-color: #001021;
    

}
.child{
    margin-bottom: 20px;
   
}

.child:hover{
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    transform: translate(-5px, -5px);
    transition: transform .4s, border .3s;
}
@media screen and (min-width:768px){
    .child:hover{
        width: 626px;
    }
    
}
.imgs{
    width: 100%;
    height: 300px;

   
    margin-bottom: 0%;
    padding: 0%;

    border-radius: 10px 10px 0px 0px;
}
.imgs:hover{
    border-radius: 0px;
}

.txt{
    color: white;
    transform: translate(47%, 750%);
    text-align: center;
}
.bio{
    color: white;
    background-color: #1480ba9a;
    
    padding: 10px;
    margin-bottom: 0%;

    width: 100%;
    
}
@media  and (min-width:390px) {
    .child{
     width: 200px;
    }
    
}
.cimgs1{
    width: 300px;
    height: 20px;

}
.cimgs{
   
   
   flex-direction: column;
   flex-wrap:wrap;
}